{% extends 'base.html' %}

{% block body %}

<style>
body{
  margin: 0%;
  padding: 0%;
}
  H1 {
     position: relative;
     right: -790PX;
     top: -400PX;
     color: crimson;

  }

p{
position: relative;
right: -800px;
top: -350px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
  position: relative;
right: -800px;
top: -360px;
padding:.5rem 2.5rem;
border-color: crimson;
border-radius: 5rem;
	

}
button:hover{
 
	background-color: crimson;
}


 .ccc {
      position: relative;
      top: 150px;
     right: 90px;
    
  }
 

  
  </style>
<body>
 
 

    <div id=aa class="container">
    <div class="ccc">
        <img src="../static/images/expense59.webp"  height="70%" width="65%"><br><br><br><br><br><br>
        <h1>LET START JOURNEY</h1>
        <P>MyBudget web application helps<br> you to maintain budget<br>
             and analyse the expense</P>
        
    </div><br>
    <br><br><br><br><br><br>
    <button  class="button" >Let's Begin</button>
</div>
    
{% endblock %}